:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(186, 186, 186);
  background-color: #222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  overflow: hidden;
}

.container {
  height: 100vh;
}

.container > h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

/* Pages */
.pages {
  display: flex;
  gap: 1rem;
  height: calc(90% - 3rem);
  width: 80%;
  margin: 0 auto;
}

.page-left,
.page-right {
  width: 50%;
  background-color: #3b3b3b;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.395);
}

.page-right {
  position: relative;
  box-sizing: border-box;
  padding: 0 1rem;
  overflow: auto;
}

.page-left textarea {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  padding: 1rem;
  background-color: #3b3b3b;
  color: rgb(186, 186, 186);
  z-index: 2;
}

/* Help button */
.help-button {
  position: fixed;
  top: 2rem;
  right: 2rem;
}

.help-button button {
  position: relative;
  width: 3rem;
  height: 3rem;
  font-weight: bolder;
  font-size: 2.4rem;
  background-color: rgb(186, 186, 186);
  color: #222;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 8px 8px black;
  transition: all ease-in-out 0.25s;
}

.help-button button:hover {
  box-shadow: 4px 4px black;
}

.download-button {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 3rem;
  height: 3rem;
  font-weight: bolder;
  font-size: 2.4rem;
  background-color: rgb(186, 186, 186);
  color: #222;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 8px 8px black;
  transition: all ease-in-out 0.25s;
}
.download-button:hover {
  box-shadow: 4px 4px black;
}

.update-button {
  position: absolute;
  top: 2rem;
  left: 6rem;
  width: 3rem;
  height: 3rem;
  font-weight: bolder;
  font-size: 2.4rem;
  background-color: rgb(186, 186, 186);
  color: #222;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 8px 8px black;
  transition: all ease-in-out 0.25s;
}

.update-button:hover {
  box-shadow: 4px 4px black;
}

@media (max-width: 1200px) {
  .pages {
    gap: 2px;
  }
  .page-right,
  .page-left {
    box-shadow: none;
  }
}

@media (max-width: 850px) {
  .pages {
    gap: 2px;
    flex-direction: column;
  }
  .page-right,
  .page-left {
    box-shadow: none;
    width: 100%;
    height: 100%;
  }

  .container > h1 {
    font-size: 1.2em;
    /* float: left; */
    padding: 6rem 0 1rem 0;
  }
}
